.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Futura";
    -fx-base: #87bba2;
    -fx-background: #364958;
}

.start-screen {
    -fx-alignment: CENTER;
    -fx-spacing: 10.0;
}

.title {
    -fx-font-family: "Rockwell";
    -fx-font-size: 30pt;
}

.level-selector {
    -fx-alignment: CENTER;
    -fx-spacing: 5.0;
}

.state {
    -fx-stroke: rgb(80, 80, 80);
    -fx-stroke-width: 0.5px;
}

.state-wall {
    -fx-fill: #C4976A;
}

.state-floor {
    -fx-fill: #A1A29F;
}

.state-hole {
    -fx-fill: black;
}

.menu-bar {
    -fx-background-color: #26547c;
    -fx-padding: 5.0;
    -fx-alignment: CENTER-LEFT;
}

.description-box {
    -fx-background-color: #3b6064;
    -fx-padding: 8px 8px 8px 8px;
}

.command-block-option {
    -fx-font-size: 12pt;
    -fx-text-fill: #eef0f2;
    -fx-background-color: #1a936f;
    -fx-padding: 4 6 4 6;
}

.command-block-option:hover {
    -fx-background-color: linear-gradient(#3b6064, #1a936f);
}

.command-index {
    -fx-text-fill: #4d4d4d;
}

.command-block-holder {
    -fx-background-color: #87bba2;
}

.command-block-selected {
    -fx-background-color: #66a3ff;
}

.command-block-hovered {
    -fx-background-color: #66cc66;
}

.control-panel {
    -fx-padding: 10 10 10 200;
    -fx-background-radius: 10;
    -fx-background-insets: 5;
    -fx-background-color: #696969;
    -fx-alignment: CENTER_LEFT;
    -fx-hgap: 15.0;
}

.board {
    -fx-alignment: CENTER;
}

.scroll-pane {
    -fx-background-insets: 0 0 0 0;
}

.Button1_Reset {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #c5283d;
}

.Button1_Reset:hover {
    -fx-background-color: linear-gradient(#bf0603, #ff3c38);
}

.Button2_Play {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #87bba2;
}

.Button2_Play:hover {
    -fx-background-color: linear-gradient(#3b6064, #87bba2);
}

.Button3_Pause {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #87bba2;
}

.Button3_Pause:hover {
    -fx-background-color: linear-gradient(#3b6064, #87bba2);
}

.Button4_Step {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #87bba2;
}

.Button4_Step:hover {
    -fx-background-color: linear-gradient(#3b6064, #87bba2);
}

.id {
    -fx-font-size: 5pt;
}

.default-button {
    -fx-text-fill: #eef0f2;
}

.block {
    -fx-fill: #031d44;
}

.block-text {
    -fx-fill: #eef0f2;
}