.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Futura";
    -fx-base: #a6a6a6;
    -fx-background: #d9d9d9;
}

.start-screen {
    -fx-alignment: CENTER;
    -fx-spacing: 10.0;
}

.title {
    -fx-font-family: "Rockwell";
    -fx-font-size: 30pt;
}

.level-selector {
    -fx-alignment: CENTER;
    -fx-spacing: 5.0;
}

.state {
    -fx-stroke: rgb(80, 80, 80);
    -fx-stroke-width: 0.5px;
}

.state-wall {
    -fx-fill: brown;
}

.state-floor {
    -fx-fill: rgb(200, 200, 200);
}

.state-hole {
    -fx-fill: black;
}

.menu-bar {
    -fx-background-color: rgb(100, 100, 100);
    -fx-padding: 5.0;
    -fx-alignment: CENTER-LEFT;
}

.description-box {
    -fx-background-color: #ffeb99;
    -fx-padding: 8px 8px 8px 8px;
}

.command-block-option {
    -fx-font-size: 12pt;
    -fx-background-color: #339933;
    -fx-padding: 4 6 4 6;
}

.command-block-option:hover {
    -fx-background-color: linear-gradient(#1f7a1f, #339933);
}

.command-index {
    -fx-text-fill: #4d4d4d;
}

.command-block-holder {
    -fx-background-color: #339933;
}

.command-block-selected {
    -fx-background-color: #66a3ff;
}

.command-block-hovered {
    -fx-background-color: #66cc66;
}

.control-panel {
    -fx-padding: 10 10 10 200;
    -fx-background-radius: 10;
    -fx-background-insets: 5;
    -fx-background-color: #696969;
    -fx-alignment: CENTER_LEFT;
    -fx-hgap: 15.0;
}

.board {
    -fx-alignment: CENTER;
}

.scroll-pane {
    -fx-background-insets: 0 0 0 0;
}

.Button1_Reset {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #bd0000;
}

.Button1_Reset:hover {
    -fx-background-color: linear-gradient(#780000, #d00000);
}

.Button2_Play {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #00b100;
}

.Button2_Play:hover {
    -fx-background-color: linear-gradient(#005f00, #00e000);
}

.Button3_Pause {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #00b100;
}

.Button3_Pause:hover {
    -fx-background-color: linear-gradient(#005f00, #00e000);
}

.Button4_Step {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #00bc00;
}

.Button4_Step:hover {
    -fx-background-color: linear-gradient(#005f00, #00e000);
}

.id {
    -fx-font-size: 5pt;
}

.default-button {
    -fx-text-fill: #000000;
}

.default-button:hover {
    -fx-text-fill: #000000;
}

.block {
    -fx-fill: LIGHTSEAGREEN;
}

.block-text {
    -fx-fill: #000000;
}