.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Futura";
    -fx-base: #a6a6a6;
    -fx-background: #d9d9d9;
}

.state-0 {
    -fx-fill: #B8B8B8;
}

.state-1 {
    -fx-fill: #000033;
}

.state-2 {
    -fx-fill: #003366;
}

.command-block-option {
    -fx-font-size: 12pt;
    -fx-background-color: green;
    -fx-padding: 4 6 4 6;
}

.command-block-holder {
    -fx-background-color: green;
}

.control-panel {
    -fx-padding: 10 10 10 200;
    -fx-background-radius: 10;
    -fx-background-insets: 5;
    -fx-background-color: #696969;
    -fx-alignment: CENTER_LEFT;
    -fx-hgap: 15.0;
}

.board {
    -fx-alignment: CENTER;
}

.scroll-pane {
    -fx-background-insets: 0 0 0 0;
}

.Button1_Reset {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #bd0000;
}

.Button1_Reset:hover {
    -fx-background-color: linear-gradient(#780000, #d00000);
}

.Button2_Play {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #00b100;
}

.Button2_Play:hover {
    -fx-background-color: linear-gradient(#005f00, #00e000);
}

.Button3_Pause {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #00b100;
}

.Button3_Pause:hover {
    -fx-background-color: linear-gradient(#005f00, #00e000);
}

.Button4_Step {
    -fx-border-radius: 20;
    -fx-background-insets: 1;
    -fx-background-color: #00bc00;
}

.Button4_Step:hover {
    -fx-background-color: linear-gradient(#005f00, #00e000);
}